/* @import url(../home-page/HomePage.css); */
:root {
  --v-primary-color: #ff0000;
  --v-secondary-color: #e7cccc;
  --v-white-color: #ffffff;
  --v-darkred-color: rgb(204, 9, 9);
}

/* ***************** */

/* Video Main Details */
.v-video-wraper {
  padding: 1rem;
}
.v-video-wraper img {
  width: 100%;
}
.v-video-bottom {
  text-align: left;
}
.v-playing-video-and-asidelist {
  display: flex;
}

.v-videolist-aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .v-playing-video-and-asidelist {
    display: flex;
    flex-direction: column;
  }
}
